{% macro input_text(field) %}
    <div class="input--wrapper"
         x-data='textInput({{ field|json_encode() }})'
         :class="name"
         :id="idWrapper"
    >
        <label :for="id" x-text="label" x-show="label"></label>
        <input
                :type="type"
                :id="id"
                :name="name"
                :required="required"
                x-model="value"
                placeholder="{{ placeholder }}"
        />
    </div>
{% endmacro %}

{% macro input_email(field) %}
    <div
            class="input--wrapper"
            x-data='emailInput({{field|json_encode()}})'
            :class="name"
            :id="idWrapper"
    >
        <label :for="id" x-text="label" x-show="label"></label>
        <input
                :type="type"
                :id="id"
                :name="name"
                :required="required"
                x-model="value"
                :placeholder="placeholder"
        />
    </div>
{% endmacro %}

{% macro input_phone(field) %}
    <div
            class="input--wrapper"
            x-data="phoneInput('{{ field.name }}', '{{ field.label }}', '{{ field.required }}', '{{ field.placeholder }}')"
            :class="name"
            :id="idWrapper"
    >
        <label :for="id" x-text="label" x-show="label"></label>
        <input
                :type="type"
                :id="id"
                :name="name"
                :required="required"
                x-model="value"
                :placeholder="placeholder"
        />
    </div>
{% endmacro %}

{% macro input_number(field) %}
    <div
            class="input--wrapper"
            x-data='numberInput({{ field|json_encode() }})'
            :class="name"
            :id="idWrapper"
    >
        <label :for="id" x-text="label" x-show="label"></label>
        <input
                :type="type"
                :id="id"
                :name="name"
                :required="required"
                x-model="value"
                :min="min"
                :max="max"
                :step="step"
        />
    </div>
{% endmacro %}

{% macro input_daterange(field) %}
    <div
            class="input--datepicker"
            x-data='datepickerInput({{ field|json_encode() }})'
            :class="name"
            :id="idWrapper"
            @click.outside="picker.hide()"
    >
        <div class="input--wrapper checkin checkin-wrapper" :class="{'hidden-input': inputs === 'none' }">
            <label :for="id + '-checkin'" x-text="labels.checkin" x-show="labels.checkin"></label>
            <input
                    type="text"
                    :id="id + '-checkin'"
                    :name="name + '-checkin'"
            />
        </div>

        <div x-show="inputs === 'start-end'">-</div>
        <div x-show="inputs === 'start-end'" class="input--wrapper checkout checkout-wrapper">
            <label :for="id + '-checkout'" x-text="labels.checkout" x-show="labels.checkout"></label>
            <input
                    type="text"
                    :id="id + '-checkout'"
                    :name="name + '-checkout'"
            />
        </div>
    </div>
{% endmacro %}